# ---------------------------------------
# Maven build output
# ---------------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar

# ---------------------------------------
# Environment variables
# ---------------------------------------
.env
.env.*.local
# Mantener env.example versionado
!*.env.example

# ---------------------------------------
# Logs
# ---------------------------------------
*.log
hs_err_pid*
replay_pid*

# ---------------------------------------
# OS / System files
# ---------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# IDE / Editor files
# ---------------------------------------
.vscode/
.idea/
*.iml
*.classpath
*.project
*.settings/

# ---------------------------------------
# Eclipse / IntelliJ / NetBeans
# ---------------------------------------
/nbproject/private/
/build/
/out/
/.classpath
/.project
/.settings/

# ---------------------------------------
# Local backups
# ---------------------------------------
*.orig
*.bak

# ---------------------------------------
# Start
# ---------------------------------------
run-erp-backend.bat